/* CSS 리셋 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* link 연결 */
@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

*, *::before. *::after{
}
::selection {
  color: #f3f5f6;
  background: ef5350;;
}
.readerable-hidden{
  background-color:pink;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  visibility: hidden;
}
/* 
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
 */

/* 본문 */
a{
  color: inherit;
  text-decoration: none;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Noto Serif', serif;
  font-weight: 200;
  line-height: 1.15;
  color: #000;
  font-size: 2rem;
  background-color: #E9EDEF;
  /*background-image: linear-gradient(-45deg,red, green);
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;*/
}
/* responsive */
img{
  max-width: 100%;
  height: auto;
}

.container{
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  background-color: aqua
}


/*header - 헤더*/
.header{
  display:flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  margin: 80px 0;
}

/* 로고 */
.logo{
}
/* 소개하기 */
.introduce{
  letter-spacing: -0.01em;
}
/* 메인메뉴 */

.menu {
  display:flex;
}
.menu li{
  margin-left: 1.5em;
  font-size: 2.5rem;
  font-family: 'Spaqa Han Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.menu .is-act { border-bottom: 4px solid black;
}

/* 포트폴리오 섹션 */

.product{
  background-color: white;
  border: 1px solid #aaa;
  margin: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
}
/* 세부항목 - 공통 */

.product .summary{
  margin: 1em 0;
}
/* 세부항목 - 세부 */

.thumbnail{
  margin-right: 50px;
}
.product .subject{
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
}
/* 
.product .summary{
  margin: 1em 0;
}
 */
.product .more{
  color: #ef5250;
  font-size: 1.5rem;
  
}


/* footer */
.footer{
  display: flex;
  margin: 150px 20px 50px 20px;
  font-size: 1.5rem;
}

.sns{
  display: flex;
}
.sns li::before{
  margin: 5px;
  content: " · ";

}
.copyright{
  margin-left: auto;
}
/* portfolio 공통 */
.portfolio{
  text-align: center;
  line-height: 1.6;
}
.portfolio .thumbnail{
  width: 100%;
  font-size: 1.5rem;
}
.portfolio .list, .portfolio ol{
  font-size: 3rem;
}
.portfolio ol{
  list-style-type: decimal;
}
.portfolio li{
  margin: 1em;
}

.dark{
  background-color: #1a1e23;
  color: #f3f5f6;
  padding: 1em 2em;
}
.dark .comment{
  color:#aaa;
  font-size: 1.5rem;
  font-style: italic;
  padding:2em;
}
.light{
  background-color: #fff;
  padding: 1em 2em;
}
.portfolio .title{
  font-size: 5rem;
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  padding:1em 0;
  text-transform: uppercase;
}
.portfolio .medium{
  font-size: 4rem;
}
.portfolio .small{
  font-size: 1.5rem;
  font-family: "Spoqa Han Sans";
  font-weight: 500px;
}
.portfolio .group{
  padding: 0;
}
.protfolio .wrapper {
  text-align: left;
  width: 750px;
  margin:auto;
  background-color: #ef5250;
}

.protfolio p{
  font-size: 2rem;
  padding: 1.5em 0;
}

.next-portfolio{
  padding: 5em 4rem;
  display: flex;
  justify-content: space-between;
}
.next-title{
  color: #aaa;
  text-transform: uppercase;
  font-family: "Spoqa Han Sans";
  font-weight: 700;
}

.next-portfolio a{
  color: #ef5250;
}
.next-portfolio a::affter{
  content: "→";
}